@import url('https://fonts.googleapis.com/css?family=Dosis|Oxygen:300,400,700');

// Variables
$oxygen-font: 'Oxygen', serif;

// Mixins
@mixin transition-duration($duration) {
    -moz-transition-duration:    $duration;
    -o-transition-duration:      $duration;
    -webkit-transition-duration: $duration;
    transition-duration:         $duration;
}

body {
	background-color: #ecf0f1;
	font-family: $oxygen-font, Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
}

h1 {
	text-align: center;
}

.multiple-choice-container {
	width: 40%;
	margin: 15px auto;
	padding: 10px 0px;
	text-align: center;
}

.question {
	font-size: 20px;
	background: #2980b9;
	color: #ffffff;
	border-radius: 5px;
	box-shadow: 0 10px 6px -6px #777;
	padding: 5px 5px;
}

.answer {
	font-size: 16px;
	background-color: #ffffff;
	border: 1px solid #999999;
	border-radius: 4px;
	display: block;
	margin: 5px auto;
	width: 60%;
	cursor: pointer;

	@include transition-duration(0.4s);
}

.answer:hover {
	background-color: #f1c40f; /* Sunflower */
  color: white;
}

.answer.chosen {
	background-color: #f39c12;
	color: white;
}

.button{
	width: 15%;
	margin: 8px auto;
	padding: 10px 0;
	display: block;
	background-color: #e74c3c;
	border: 0px;
	border-radius: 4px;
	font-size: 17px;
	color: white;
	cursor: pointer;

	@include transition-duration(0.4s);
}

.button:hover {
	background-color: #c0392b;
}

.button.disabled {
	opacity: 0.60;
	cursor: not-allowed;
}

.score-list {
	width: 40%;
	margin: 15px auto;
	text-align: center;
	background: #2980b9;
	color: white;
	font-size: 18px;
	border-radius: 5px;
	box-shadow: 0 10px 6px -6px #777;
	padding: 5px 5px;
}